.navbar {
    height: 5rem;
    width: 100%;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
    display: flex;
    position: sticky;
    top: 0;
    z-index: 3;
    padding: 1rem 2rem; 
    background-color: rgb(30, 30, 30);
}

.desktopMenuBtn {
    background-color: #EF7A22;
    border-radius: 30px;
    color: white;
    width: auto;
    text-align: center;
    font-size: large;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 10px;
    border: none;
    cursor: pointer;
}

.desktopMenuImg {
    width: 20px;
    margin: 0;
}

.desktopMenu {
    display: flex;
    justify-content: space-between;
    width: 60%; 
}

.desktopMenuItem {
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    cursor: pointer; 
}

.desktopMenuItem:hover, .desktopMenuItem.active-link {
    text-decoration: underline;
    text-decoration-color: #EF7A22;
    text-decoration-thickness: 2px;
    color: #EF7A22;
}


.burger-btn {
    display: none;
    font-size: 2rem;
    color: white;
    cursor: pointer;
}


.mobileMenu {
    display: none;
    flex-direction: column;
    align-items: center;
    background-color: rgb(30, 30, 30);
    position: absolute;
    top: 5rem;
    left: 0;
    right: 0;
    z-index: 2;
    padding: 1rem;
}

.mobileMenu .desktopMenuItem {
    padding: 1rem 0;
}

@media (max-width: 768px) {
    .desktopMenu {
        display: none; 
    }

    .burger-btn {
        display: block; 
    }

    .mobileMenu {
        display: flex; 
    }
}
