#intro {
    margin: 0 auto;
    height: auto;
    width: 100vw;
    max-width: 75rem;
    overflow: hidden;
    position: relative;
    top: 0%;
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    flex-wrap: wrap;
}

.bg {
    position: absolute;
    z-index: -1;
    top: 10%;
    right: 0;
    object-fit: cover;
    max-width: 50%; 
}

.introContent {
    margin-top: 10%;
    color: white;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 40%;
}

.hello {
    font-size: 1.75rem;
    font-weight: 100;
}

.introName {
    color: #EF7A22;
}

.introPara {
    font-size: medium;
    font-weight: 100;
    width: 30rem;
    line-height: 1.6;
    text-align: justify;
}

.introBTN {
    background-color: white;
    margin-top: 1rem;
    width: 10rem;
    height: 3rem;
    border: none;
    border-radius: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.introBTN img {
    margin-right: 10px;
}

@media (max-width: 768px) {
    .introContent {
        font-size: 2.5rem;
        margin-top: 5%;
        max-width: 100%;
    }

    .introPara {
        width: 100%;
        font-size: medium;
    }

    .bg {
        position: static;
        max-width: 100%;
        margin-top: 1rem;
        height: auto;
        object-fit: cover;
    }

    #intro {
        flex-direction: column;
        text-align: center;
    }

    .introBTN {
        width: 100%;
        height: 2.5rem;
    }
}

@media (max-width: 480px) {
    .introContent {
        font-size: 2rem;
        margin-top: 5%;
        max-width: 100%;
    }

    .introPara {
        width: 100%;
        font-size: small;
    }

    .bg {
        position: static;
        width: 100%;
        margin-top: 1rem;
        height: auto;
        object-fit: cover;
    }

    .introBTN {
        width: 100%;
        height: 2rem;
        font-size: small;
    }
}
