footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #333;
  flex-wrap: wrap; 
}

.left-section {
  display: flex;
  align-items: center;
  flex: 1; 
  margin-bottom: 10px; 
}

.right-section {
  display: flex;
  gap: 10px;
  flex: 1; 
  justify-content: flex-end; 
}

.info {
  margin: 0;
  font-size: 14px;
  white-space: nowrap;
}

.icon {
  margin-left: 5px;
  font-size: 18px;
  color: #EF7A22; 
}

.email {
  margin-left: 10px; 
  font-size: 14px;
  color: #fff;
}


@media (max-width: 768px) {
  footer {
      flex-direction: column; 
      align-items: flex-start; 
  }

  .left-section, .right-section {
      flex: none; 
      width: 100%; 
      justify-content: flex-start; 
  }

  .right-section {
      margin-top: 10px; 
      justify-content: center; 
  }
}
